:root{
    --primary-red-color: rgb(192, 43, 43);
    --off-white-color:#FAF3E0;
     --primary-red-color: rgb(192, 43, 43);
    --off-white-color: #FAF3E0;
      --bg-light: #F9F5EB;
      --accent: #B08968;
      --accent-dark: #7F5539;
      --accent-hover: #9C6644;
      --text-dark: #3E2723;
      --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(img/cafe-intirier-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-family: Georgia, 'Times New Roman', Times, serif;  */
    font-family: 'Playfair Display', serif;
    color: white;
   
}
header ul li{
    list-style-type: none;
    align-content: center;
}
header ul li a{
text-decoration: none;
font-size: 23px;
color: #7F5539;

}
header ul li a:hover{
   border-bottom: 2px solid var(--primary-red-color);
   color: var(--off-white-color);

}

header ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
    height: 50px;

}


header p{
    font-size: 70px;
    width: 80%;
    margin: auto;
    color: var(--off-white-color);
    
}
header h4{
    font-style: italic;
    color: var(--off-white-color);
}
header h4 mark{
    background-color: var(--primary-red-color);

}
.the-restro{
    height: 100vh;
    width: 100%;
    background-color: #FAF3E0;
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
}
.img-l{
    height: 100%;
    width: 100%;
   
}
.img-l img{
    height: 100%;
    width: 100%;
}
.the-restro{
   padding-left: 7.5%;
   padding-right: 7.5%;
}
.the-restro-info{
    
    width: 70%;
    margin-left: 15%;
   
}
.our-Experience .right-img img{
    height: 100%;
    width: 50%;
    
}
.our-Experience .outdoor-img img{
     height: 100%;
    width: 100%;
}
.the-restro-info p{
    color: rgb(141, 141, 141);
}
.the-restro-info button{
    height: 35px;
    width: 170px;
    border: 2px solid var(--primary-red-color);
    background-color: transparent;
    color: var(--primary-red-color);
    transition: .2s all ease-in-out;
     border-radius: 3px;
}
.the-restro-info button:hover{
    background-color: var(--primary-red-color);
    color: var(--off-white-color);
}
.our-Experience{
    background-color: var(--off-white-color);
     font-family: 'Playfair Display', serif;
    
   
    
}


.our-Experience p {
    color: rgb(141, 141, 141);
    width: 100%;
}
footer{
    /* background-image: url(img/a.png); */
    background-color: #7F5539;
    background-position: center;
    color: var(--off-white-color);
}
.footer-text{
    color: var(--off-white-color);
    font-family: 'Playfair Display', serif;

}

footer .footer-ul-list li a{
    /* color: rgb(141, 141, 141); */
    color: white;
}
footer .footer-ul-list li a:hover{
    color: var(--text-dark);
}




